.contenedor {
    width: 60%;
    margin: 50px auto;
}

#tejado {
    background-image: url(img/tejado.jpg);
    height: 115px;
    border-radius: 300px 300px 0 0
}

.piso {
    background-color: #FCCF96;
    height: 250px;
    width: 99%;
    margin: auto;
    position: relative;
}

.ventana {
    width: 130px;
    height: 130px;
    position: absolute;
}

.ven1 {
    left: 150px;
    top: 50px
}

.ven2 {
    right: 150px;
    top: 50px
}

#separador {
    height: 20px;
    background-color: #F29200;
}

#puerta {
    width: 130px;
    height: 230px;
    position: absolute;
    right: 150px;
    bottom: 0px
}

#pasto {
    width: 1000px;
    height: 200px;
    position: absolute;
    bottom: -100px;
    left: -90px
}